<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.ordersInfo.dao.IOrdersInfoDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.ordersInfo.pojo.OrdersInfo"> 
		<id property="oid" column="oid" javaType="java.lang.Integer"></id> 
		<result property="total" column="total" javaType="java.lang.Double"></result> 
		<result property="ordertime" column="ordertime" javaType="java.lang.String"></result> 
		<result property="state" column="state" javaType="java.lang.String"></result> 
		<result property="cname" column="cname" javaType="java.lang.String"></result> 
		<result property="phone" column="phone" javaType="java.lang.String"></result> 
		<result property="addr" column="addr" javaType="java.lang.String"></result> 
		<result property="userId" column="user_id" javaType="java.lang.Integer"></result> 
		<result property="shopid" column="shopid" javaType="java.lang.Integer"></result> 
	</resultMap> 

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		oid,total,ordertime,state,cname,phone,addr,user_id,shopid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where oid = #{oid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from orders_info 
		where oid = #{oid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.ordersInfo.pojo.OrdersInfo" > 
		insert into orders_info(total,ordertime,state,cname,phone,addr,user_id,shopid) 
		values (#{total},#{ordertime},#{state},#{cname},#{phone},#{addr},#{userId},#{shopid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.ordersInfo.pojo.OrdersInfo" > 
		update orders_info 
		<set > 
			<if test="total != null and total!='' " > 
				total = #{total}, 
			</if> 
			<if test="ordertime != null and ordertime!='' " > 
				ordertime = #{ordertime}, 
			</if> 
			<if test="state != null and state!='' " > 
				state = #{state}, 
			</if> 
			<if test="cname != null and cname!='' " > 
				cname = #{cname}, 
			</if> 
			<if test="phone != null and phone!='' " > 
				phone = #{phone}, 
			</if> 
			<if test="addr != null and addr!='' " > 
				addr = #{addr}, 
			</if> 
			<if test="userId != null and userId!='' " > 
				user_id = #{userId}, 
			</if> 
			<if test="shopid != null and shopid!='' " > 
				shopid = #{shopid}, 
			</if> 
		</set> 
		where oid = #{oid} 
	</update> 
	<update id="update" parameterType="com.qhit.ordersInfo.pojo.OrdersInfo" > 
		update orders_info 
		set  total = #{total}, ordertime = #{ordertime}, state = #{state}, cname = #{cname}, phone = #{phone}, addr = #{addr}, user_id = #{userId}, shopid = #{shopid} 
		where oid = #{oid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
	</select> 
	<select id="findByTotal" resultMap="BaseResultMap" parameterType="java.lang.Double" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where total = #{total} 
	</select> 
	<select id="findByOrdertime" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where ordertime = #{ordertime} 
	</select> 
	<select id="findByState" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where state = #{state} 
	</select> 
	<select id="findByCname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where cname = #{cname} 
	</select> 
	<select id="findByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where phone = #{phone} 
	</select> 
	<select id="findByAddr" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where addr = #{addr} 
	</select> 
	<select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where user_id = #{userId} 
	</select> 
	<select id="findByShopid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from orders_info 
		where shopid = #{shopid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from orders_info where oid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.ordersInfo.pojo.OrdersInfo" resultMap="BaseResultMap"> 
		select * from  orders_info 
		<where > 
			<if test="total != null and total!='' " > 
				 and total = #{total} 
			</if> 
			<if test="ordertime != null and ordertime!='' " > 
				 and ordertime = #{ordertime} 
			</if> 
			<if test="state != null and state!='' " > 
				 and state = #{state} 
			</if> 
			<if test="cname != null and cname!='' " > 
				 and cname = #{cname} 
			</if> 
			<if test="phone != null and phone!='' " > 
				 and phone = #{phone} 
			</if> 
			<if test="addr != null and addr!='' " > 
				 and addr = #{addr} 
			</if> 
			<if test="userId != null and userId!='' " > 
				 and user_id = #{userId} 
			</if> 
			<if test="shopid != null and shopid!='' " > 
				 and shopid = #{shopid} 
			</if> 
		</where> 
	</select> 
</mapper> 
